<IfModule dir_module>
    DirectoryIndex index.php index.html
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

AddDefaultCharset UTF-8
AddCharset UTF-8 .html 
AddType application/x-httpd-php .php .htm .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff